__pycache__/database.cpython-312.pyc
Controllers/__pycache__/client_controller.cpython-312.pyc
Controllers/__pycache__/supplier_controller.cpython-312.pyc
Controllers/__pycache__/user_controller.cpython-312.pyc
Daos/__pycache__/client_dao.cpython-312.pyc
Daos/__pycache__/supplier_dao.cpython-312.pyc
Daos/__pycache__/user_dao.cpython-312.pyc
Models/__pycache__/client_model.cpython-312.pyc
Models/__pycache__/supplier_model.cpython-312.pyc
Models/__pycache__/user_model.cpython-312.pyc
Services/__pycache__/client_service.cpython-312.pyc
Services/__pycache__/supplier_service.cpython-312.pyc
Services/__pycache__/user_service.cpython-312.pyc
Uis/__pycache__/clientesCRUD.cpython-312.pyc
Uis/__pycache__/clientesUI.cpython-312.pyc
Uis/__pycache__/compraUI.cpython-312.pyc
Uis/__pycache__/empleadosCRUD.cpython-312.pyc
Uis/__pycache__/inventarioUI.cpython-312.pyc
Uis/__pycache__/proveedoresUI.cpython-312.pyc
Uis/__pycache__/ventaUI.cpython-312.pyc
Uis/__pycache__/clientesCRUD.cpython-312.pyc
Uis/__pycache__/clientesUI.cpython-312.pyc
Uis/__pycache__/compraUI.cpython-312.pyc
Uis/__pycache__/empleadosCRUD.cpython-312.pyc
Uis/__pycache__/inventarioUI.cpython-312.pyc
Uis/__pycache__/ventaUI.cpython-312.pyc
Uis/__pycache__/clientesCRUD.cpython-312.pyc
Uis/__pycache__/clientesUI.cpython-312.pyc
Uis/__pycache__/compraUI.cpython-312.pyc
Uis/__pycache__/empleadosCRUD.cpython-312.pyc
Uis/__pycache__/inventarioUI.cpython-312.pyc
Uis/__pycache__/ventaUI.cpython-312.pyc
